Library/
Temp/
obj/
Logs/
Assembly-CSharp.csproj
Assembly-CSharp.Player.csproj
Assembly-CSharp-Editor.csproj
PPv2URPConverters.csproj
Unity.2D.Sprite.Editor.csproj
Unity.2D.Tilemap.Editor.csproj
Unity.RenderPipeline.Universal.ShaderLibrary.csproj
Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj
Unity.RenderPipelines.Core.Editor.csproj
Unity.RenderPipelines.Core.Runtime.csproj
Unity.RenderPipelines.Core.Runtime.Player.csproj
Unity.RenderPipelines.Core.ShaderLibrary.csproj
Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj
Unity.RenderPipelines.Universal.2D.Runtime.csproj
Unity.RenderPipelines.Universal.2D.Runtime.Player.csproj
Unity.RenderPipelines.Universal.Editor.csproj
Unity.RenderPipelines.Universal.Runtime.csproj
Unity.RenderPipelines.Universal.Runtime.Player.csproj
Unity.RenderPipelines.Universal.Shaders.csproj
Unity.RenderPipelines.Universal.Shaders.Player.csproj
Unity.ShaderGraph.Editor.csproj
Unity.ShaderGraph.Utilities.csproj
UnityEditor.UI.csproj
UnityEngine.UI.csproj
UnityEngine.UI.Player.csproj
URP_1502.sln
